/* src/App.css */
.navbar {
    background-color: #343a40 !important;
  }
  
  .navbar-brand {
    color: white !important;
  }
  
  .nav-link {
    color: white !important;
  }
  
  .nav-link:hover {
    color: #000000 !important;
  }
  
  .dropdown-toggle {
    color: white !important;
  }
  
  .dropdown-menu {
    background-color: #343a40 !important;
  }
  
  .dropdown-item {
    color: white !important;
  }
  
  .dropdown-item:hover {
    background-color: #007bff !important;
    color: white !important;
  }
  